table {
  background-color: rgb(235, 194, 194);
  width: 60em;
  height: 20em;
  border: 20px solid #666;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  padding: 40px;
}
h3 {
  font-size: 25px;
  font-family: monospace;
}
