<div class="container">
  <div>
    <h1 sty>My Works</h1>
    <table>
      <tr>
        <td>
          <img src="assets/img/hau.png" width="500" height="300" />
        </td>
      </tr>

      <tr>
        <td>
          <img src="assets/img/blog.png" width="500" height="300" />
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/okada.png" width="500" height="300" />
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/img/wear.png" width="500" height="300" />
        </td>
      </tr>
    </table>
  </div>
</div>
