<div class="container">
  <table>
    <tr>
      <td>
        <h5>Name:</h5>
        Myra Cuyagbo
      </td>
    </tr>
    <tr>
      <td>
        <h5>Age:</h5>
        21
      </td>
    </tr>
    <tr>
      <td>
        <h5>Birthday:</h5>
        March 26,2000
      </td>
    </tr>
    <tr>
      <td>
        <h5>Gender:</h5>
        Female
      </td>
    </tr>
    <tr>
      <td>
        <h5>Religion:</h5>
        Roman Catholic
      </td>
    </tr>
    <tr>
      <td>
        <h5>University:</h5>
        Holy Angel Univesity
      </td>
    </tr>
  </table>
</div>
